<div class="flex justify-center bg-gray-100">
  <div class="border border-gray-300 p-8 rounded-none w-full bg-white text-center">

    <h2 class="text-2xl left font-bold mb-6">CHANGE PASSWORD</h2>

    <br>
    <!-- <form [formGroup]="changePassword" class="grid md:grid-cols-3 gap-3 text-left">

      <div class="ml-5">

        <div class="mb-4">
          <label class="block text-sm font-semibold mb-1">Old Password</label>
          <input type="password" formControlName="oldPassword"
            class="w-full border border-gray-400 px-3 py-2 focus:ring-2 focus:ring-purple-500" />
        </div>
      </div>

      <div class="ml-5">
        <div class="mb-4">
          <label class="block text-sm font-semibold mb-1">New Password</label>
          <input type="password" formControlName="newPassword"
            class="w-full border border-gray-400 px-3 py-2 focus:ring-2 focus:ring-purple-500" />
        </div>
      </div>

      <div class="justify-center items-center ml-10">
        <div class="mb-4">
          <label class="block text-sm font-semibold mb-1">Confirm New Password</label>
          <input type="password" formControlName="confirmNewPassword"
            class="w-full border border-gray-400 px-3 py-2 focus:ring-2 focus:ring-purple-500" />
        </div>
      </div>

      <div class="col-span-3 flex flex-col items-center mt-4">
        <br>
        <button type="submit" (click)="changePasswordFun()"
          class="bg-purple-700 text-white px-8 py-2 font-bold hover:bg-purple-800 transition updatebtn">
          SUBMIT
        </button>
      </div>
    </form> -->


    <form [formGroup]="changePassword" class="grid md:grid-cols-3 gap-3 text-left">

      <!-- Old Password -->
      <div class="ml-5 relative mb-4">
        <label class="block text-sm font-semibold mb-1">Old Password</label>
        <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword"
          class="w-full border border-gray-400 px-3 py-2 pr-10 focus:ring-2 focus:ring-purple-500" />
        <button type="button" (click)="togglePassword('old')"
          class="absolute showPassBtn right-3 top-9 transform -translate-y-1/2 text-gray-500 focus:outline-none">
          <i class="material-icons text-lg">
            {{ showOldPassword ? 'visibility_off' : 'visibility' }}
          </i>
        </button>
      </div>

      <!-- New Password -->
      <div class="ml-5 relative mb-4">
        <label class="block text-sm font-semibold mb-1">New Password</label>
        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
          class="w-full border border-gray-400 px-3 py-2 pr-10 focus:ring-2 focus:ring-purple-500" />
        <button type="button"  (click)="togglePassword('new')"
          class="absolute showPassBtn right-3 transform -translate-y-1/2 text-gray-500 focus:outline-none">
          <i class="material-icons text-lg">
            {{ showNewPassword ? 'visibility_off' : 'visibility' }}
          </i>
        </button>
      </div>

      <!-- Confirm New Password -->
      <div class="ml-10 relative mb-4">
        <label class="block text-sm font-semibold mb-1">Confirm New Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmNewPassword"
          class="w-full border border-gray-400 px-3 py-2 pr-10 focus:ring-2 focus:ring-purple-500" />
        <button type="button" (click)="togglePassword('confirm')"
          class="absolute showPassBtn right-3 top-9 transform -translate-y-1/2 text-gray-500 focus:outline-none">
          <i class="material-icons text-lg">
            {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
          </i>
        </button>
      </div>

      <!-- Submit -->
      <div class="col-span-3 flex flex-col items-center mt-4">
        <button type="submit" (click)="changePasswordFun()"
          class="bg-purple-700 text-white px-8 py-2 font-bold hover:bg-purple-800 transition updatebtn">
          SUBMIT
        </button>
      </div>

    </form>

  </div>

</div>