.formInside {
    padding: 2rem 10rem 4rem 10rem;
}

.formRegister {
    padding: 2rem 5rem 4rem 5rem;
}

.consern {
    padding: 0rem 20rem 0rem 20rem;

    a {
        color: #000;
    }
}

.signInBtn {
    background-color: var(--primary-color);
    width: 15rem;
    color: #fff;
}

.updatebtn {
    button {
        background-color: var(--primary-color);
        color: #fff;
    }
}

.updatebtn {
    button:hover {
        filter: brightness(1.1);
        transform: translateY(-1px);
    }
}

.google-signIn {
    padding: 0rem 15rem;
}

.google-signIn-text {
    margin: 0rem 7rem;
}

input {
    border-color: #000;
}

// button {
//     // border-color: #000;
//     // border-width: 2px;
// }

input::placeholder {
    color: #000;
}