<!-- Main Content -->
<ng-container class="main">

  <app-header></app-header>
  <div class="max-w-7xl mx-auto py-6 px-4">
    <ng-container *ngIf="showChangePassword; else showMainContent">
      <app-change-password></app-change-password>
    </ng-container>
    <ng-template #showMainContent>
      <ng-container *ngIf="isLoggedIn$ | async; else showLogin">
        <app-dashboard></app-dashboard>
      </ng-container>
      <ng-template #showLogin>
        <app-authentication></app-authentication>
      </ng-template>
    </ng-template>
  </div>
  <app-footer></app-footer>

</ng-container>
<!-- Success/Error Messages -->
<div id="messageContainer" class="fixed top-4 right-4 z-50"></div>