// button{
//     .signInBtn{
//         background-color: var(--primary-color);
//         color: #fff;
//     }
// }

.formInside {
    padding: 2rem 10rem 4rem 10rem;
}

.formRegister{
    padding: 2rem 5rem 4rem 5rem;
}
.consern {
    padding: 0rem 20rem 0rem 20rem;

    a {
        color: #000;
    }
}

.signInBtn {
    background-color: var(--primary-color);
    width: 15rem;
    color: #fff;
}
.updatebtn{
    background-color: var(--primary-color);
    color: #fff;

}

.google-signIn {
    padding: 0rem 15rem;
}

.google-img {
    // margin: 0rem 0rem 0rem -14rem;
}

.google-signIn-text {
    margin: 0rem 7rem;
}

input {
    border-color: #000;
}

button {
    border-color: #000;
    border-width: 2px;
}

input::placeholder {
    color: #000;
}