.panel-body{
    margin-top: 50px;
}


.formInsideLogin {
    // min-height: 81vh;
    padding: 2rem 3rem 3rem 3rem;
    /* smaller default padding */
    max-width: 450px;
    /* controls form width */
    margin: 0 auto;

    input {
        width: 80% !important;
        /* reduce input width */
        margin: 0 auto;
        /* center inputs */
        display: block;
        border-color: #000;
    }
}

.formInsideSignUp {
    input {
        width: 80% !important;
        /* reduce input width */
        margin: 0 !important;
        /* center inputs */
        display: block;
        border-color: #000;
    }
}

.consern {
    padding: 0.5rem;
    justify-content: space-between;
    margin: 0rem 2rem 0rem 2rem;
}

/* Very small screens */
@media (max-width: 640px) {
    .formInside {
        padding: 1.5rem;
        max-width: 90%;
    }

    .consern {
        padding: 0 !important;
        justify-content: space-between;
    }

    .google-signIn {
        padding: 0 !important;
    }

    .google-signIn-text {
        margin: 0 !important;
        /* reduce spacing */
    }
}

.google-signIn-text {
    margin: 0 !important;
    /* reduce spacing */
}

/* Inputs – reduce width */

input {
    // width: 80% !important;
    /* reduce input width */
    margin: 0 auto;
    /* center inputs */
    display: block;
    border-color: #000;
}

/* Button width reduced */
.signInBtn {
    background-color: var(--primary-color);
    width: 80% !important;
    margin: 0 auto;
    display: block;
    color: #fff;
}

/* Google button also reduced */
.google-signIn button {
    width: 80% !important;
    margin: 0 auto;
}

button {
    border-color: #000;
    border-width: 2px;
}
.signUp-btn{
    background: var(--primary-color);
}

input::placeholder {
    color: #000;
}

.login-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

}




.password-eye {
  position: absolute;
  right: 40px;        /* distance from right side */
  top: 50%;           /* vertical center */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
  z-index: 10;        /* ensures icon stays on top */
}

.password-eye:hover {
  color: #7b3ce0;
}

.craete-pass{
    margin-top: -13px !important;
}